Flask==3.0.2
flask-cors==4.0.0
torch==2.2.2
torchvision==0.17.2
opencv-python==4.9.0.80
numpy==1.26.4
Pillow==10.2.0
scikit-learn==1.4.1.post1
tqdm==4.66.2
matplotlib==3.8.3
pandas==2.2.1
python-dotenv==1.0.1